@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');


body {
    ---bg-color: #fff;
    ---text-h1-color: #fff;
    ---text-p-color: #fff;
    ---text-hover: #8e3f70;
    ---bg-label: rgb(0, 124, 133);
}


.bg {
    height: 100vmin;
    background-repeat: no-repeat;
    background: #588681;
    background: -webkit-linear-gradient(top left, #588681, #BDECC2);
    background: -moz-linear-gradient(top left, #588681, #BDECC2);
    background: linear-gradient(to bottom right, #588681, #BDECC2);
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.retangulo {
    display: flex;
    border-radius: 10px;
    padding: 10px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.foto {
    background-color: var(---bg-label);
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.texto {
    display: flex;
    flex-direction: column;
}

.texto h1 {
    font-family: 'Alata', sans-serif;
    margin-bottom: auto;
    text-align: center;
    font-weight: 400; 
    font-size: 48px;
    color: var(---text-h1-color);
}

.texto p {
    font-family: 'Inter';
    font-weight: 200;
    font-size: 14px;
    margin-top: auto;
    /* line-height: 17px; */
}

a {
    text-decoration: none;
}

.label {
    color: var(---text-p-color);
    box-shadow: 0 5px 10px rgb(66 66 66 / 19%);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    display: flex;
    width: 241px;
    padding: 10px;
    margin: 10px;
    gap: 10px;
    background: var(---bg-label);
    border-radius: 17px;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.label:hover {
    color: var(---bg-label);
    background-color: var(---text-p-color);
}


.icon {
    font-weight: 300;
    text-decoration: none;
    color: var(---text-p-color);
    font-size: 45px;
    margin: 10px;
}

.icon-left {
    display: block;
    align-self: end;
}

.icon-center {
    display: flex;
    width: 241px;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

.icon a {
    border-radius: 10px;
    color: var(---bg-color);
}

.icon a:hover {
    background-color: #ffffff67;
    border-radius: 20px;
}

.bottom {
    bottom: 0;
    position: absolute;
}

.copy-link {
    width: auto;
    height: auto;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: var(---bg-color);
    color: var(---bg-label);
}

#button-share {
    width: -webkit-fill-available;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-items: center;
    align-content: space-between;
    justify-content: flex-start;
    margin-top: 80px;
    position: fixed;
}

#button {
    color: white;
}

#button:hover {
    color: var(---bg-label);
}


button {
    border: 0;
    background-color: transparent;
    font-size: 45px;
    color: var(---bg-label);
}

button:hover {
    color: rgb(2 71 76);
}


.caixaTexto {
    text-align: center;
    color: var(---text-p-color);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.ph-linkedin-logo-thin:hover {
    color: blue;
}

.ph-instagram-logo-thin:hover {
    color: #6A1449;
}

.ph-tiktok-logo-thin:hover {
    color: black;
}

.ph-whatsapp-logo-thin:hover {
    color: #25D366;
}

.ph-telegram-logo-thin:hover {
    color: #0088CC;
}

@media screen and (max-width: 700px) {

    .texto p {
        font-size: 12px;
    }

    .texto h1 {
        font-size: 34px;
    }

    .label {
        font-size: 14px;
    }

    .icon {
        font-size: 32px;
    }

    .foto {
        height: 90px;
        width: 90px;
    }

}

