@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

@font-face {
    font-family: "Fashion Fetish";
    src: url(./fontes/fashion_fetish/Fashion\ Fetish\ Regular.ttf);
}

@font-face {
    font-family: "Cooper Hewitt";
    src: url(./fontes/cooper-hewitt/CooperHewitt-Light.otf);
    font-weight: lighter;
}

@font-face {
    font-family: "Glacial Indifference";
    src: url(./fontes/glacial-indifference/GlacialIndifference-Bold.otf);
}

#custom-tooltip p {
    font-weight: lighter;
    font-size: 1rem;
}


.button-tooltip-container {
    display: flex;
    align-self: flex-start;
    /* background: #d9aade54; */
    height: fit-content;
    width: 100%;
    flex-direction: row;
    align-items: flex-end;
}

#custom-tooltip {
    display: none;
    position: fixed;
    border-radius: 17px;
    background: white;
    /* margin: 0 20px; */
    height: max-content;
    padding: 7px;
    width: max-content;
}



body {
    ---bg-color: #fff;
    ---text-h1-color: #fff;
    ---text-p-color: #fff;
    ---text-hover: #8e3f70;
    ---bg-label: #02474c;

    ---cor-amarelo-escuro: #FFC139;
    ---cor-amarelo-claro: #FFE820;
    ---cor-azul-escuro: #537BC6;
    ---cor-azul-claro: #6C9FCF;
    ---cor-roxo-escuro: #7C2A92;
    ---cor-roxo-claro: #B278B8;
    ---cor-rosa-escuro: #EE2289;
    ---cor-rosa-claro: #D58294;

    margin: 0;
}

.horizontal-align {
    margin-top: 5%;
    display: flex;
    gap: 2%;
    align-items: center;

}

.vertical-align {
    display: flex;
    gap: 2%;
    flex-direction: column;
    align-items: center;
}

div.horizontal-align img{
    height: fit-content;
    width: 50%;
    align-self: center;
}


.bg {
    background-image: url(./media/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

button {
    border: 0;
    background-color: transparent;
    font-size: 45px;
    color: var(---cor-roxo-escuro);
}

button:hover {
    color: var(---cor-roxo-claro);
}

a {
    color: inherit;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

 ::-webkit-scrollbar {
    width: 1vh;
    background-color: var(---bg-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(---cor-roxo-escuro);
}

div.landing-page .gradient-line-light {
    opacity: 100%;
}

.gradient-line-light {
    opacity: 50%;
    width: 100%;
    height: 3px;
    background-repeat: no-repeat;
    background-image: linear-gradient( 
        90deg, 
        hsl(330deg 86% 53%) 0%, 
        hsl(308deg 63% 40%) 32%, 
        hsl(262deg 39% 48%) 66%, 
        hsl(219deg 50% 55%) 100% );
}

.gradient-line-dark {
    width: 100%;
    height: 3px;
    background-repeat: no-repeat;
    background-image: linear-gradient(
        90deg,
        hsl(294deg 31% 60%) 0%,
        hsl(225deg 46% 66%) 33%,
        hsl(212deg 52% 59%) 67%,
        hsl(219deg 50% 55%) 100%
      );}

.gradient-size {
    display: flex;
    height: fit-content;
    width: fit-content;
    align-self: center;
    flex-direction: column;
    gap: 10px;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: center;
    align-content: center;
}

.home-container {
    display: flex;
    border-radius: 10px;
    padding: 10px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: max-content;
}

.visible {
    visibility: visible;
}


.img {
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}


.text-container {
    text-align: center;
    color: var(---text-p-color);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-content {
    display: flex;
    flex-direction: column;
}

.text-content h1.h1-tiny {
    font-size: 1rem;
    letter-spacing: inherit;
    align-self: center;
}
    
p.p-large {
    font-size: 1.5rem;
}

.text-content h1 {
    text-transform: uppercase;
    font-family: 'Fashion Fetish';
    letter-spacing: 8px;
    text-align: center;
    font-size: 1.5rem;
    color: var(---cor-roxo-escuro);
    width: 100%;
    line-height: 2;
}

.text-content p, span{
    text-transform: none;
    font-family: 'Fashion Fetish';
    font-weight: 700;
    font-size: 1.3rem;
    margin-top: auto;
    margin: 10px 0 10px 0;
    color: var(---cor-roxo-escuro);
    letter-spacing: normal;
    line-height: 2;
}

mark {
    background-color: #e7d1f19e;
    color: var(---cor-roxo-escuro);
    padding: 2px;
}

.text-home {
    display: flex;
    flex-direction: column;
}

.text-home h1 {
    font-family: 'Fashion Fetish';
    margin:20px 0 20px 0;
    letter-spacing: 8px;
    text-align: center;
    font-size: 1.5rem;
    color: var(---cor-roxo-escuro);
    width: 100%;
}

.text-home p {
    font-family: 'Cooper Hewitt';
    font-weight: lighter;
    font-size: 16px;
    margin-top: auto;
    margin-bottom: auto;
    line-height: initial;
    color: var(---cor-rosa-escuro);
    letter-spacing: 1px;
}

.content-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 70%;
}

.content-container div.text-container {
    align-items: flex-start;
    width: auto;
}

.content-container div.text-home h1 {
    text-align: start;
}

.label {
    box-shadow: 0 5px 10px rgb(66 66 66 / 19%);
    display: flex;
    width: 241px;
    padding: 10px;
    margin: 10px;
    gap: 10px;
    border-radius: 17px;
    align-content: center;
    justify-content: center;
    align-items: center;
    
    font-family: 'Cooper Hewitt';
    font-size: 15px;
    line-height: initial;
    letter-spacing: 1px;
}

div#copy.label {
    width: fit-content;
    gap: 1px;
}

h1.titulo {
    width: max-content;
}

.hover-button:hover {
    transition: 0.5s ease-in-out;
    font-size: 1rem;
    width: 260px;
}

.copy-link {
    max-width: 60%;
    height: auto;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: var(---bg-color);
    color: var(---bg-color);
    gap: 1px;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.landing-page section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.sobre-mim section {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 10%;
    padding-bottom: 10%;
}

.bg-color-section {
    background-color: #e5d1f140;
}

.logo {
    position: fixed;
    margin: 20px 0 20px 0;
    height: 60px;
    width: 60px;
    justify-content: end;
    align-items: flex-end;
    bottom: 0;
}

.logo-box {
    margin: 10px;
    height: min-content;
    /* width: 100%; */
    display: flex;
    justify-content: end;
}

#text-img-2 {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    backface-visibility: visible;
}

#div-share-button {
    width: -webkit-fill-available;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-items: center;
    align-content: space-between;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 0;
}

#share-button {
    padding:0;
    color: var(---cor-roxo-escuro);
}

#share-button:active {
    color: var(---cor-roxo-claro);
}

.icon {
    font-weight: 300;
    text-decoration: none;
    color: var(---cor-roxo-escuro);
    font-size: 45px;
    margin: 10px;
}

.icon-left {
    display: block;
    align-self: end;
}

.icon-center {
    display: flex;
    width: 241px;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

.icon a {
    border-radius: 10px;
}

.icon a:hover {
    border-radius: 5px;
}

.ph-linkedin-logo-thin:hover {
    color: blue;
}

.ph-instagram-logo-thin:hover {
    color: #6A1449;
}

.ph-tiktok-logo-thin:hover {
    color: black;
}

.ph-whatsapp-logo-thin:hover {
    color: #25D366;
}

.ph-telegram-logo-thin:hover {
    color: #0088CC;
}

@media screen and (max-width: 700px) {
    .logo {
        height: 40px;
        width: 40px;
    }

    .horizontal-align {
        flex-direction: column;
    }
    
    .label {
        font-size: 13px;   
        width: 200px;
    }

    .text-home p {
        font-size: 14px;
    }
    
    .text-home h1 {
        font-size: 1.2rem;
    }
    
    .text-content p {
        font-size: 0.8rem;
    }
    
    .text-content h1 {
        font-size: 0.9rem;
    }
    
    .text-content h1.h1-tiny {
        font-size: 0.8rem;
        letter-spacing: normal;
    }
    
    p.p-large {
        font-size: 0.9rem;
    }

    .icon {
        font-size: 32px;
    }

    .img {
        height: 90px;
        width: 90px;
    }

    button {
        font-size: 32px;
    }

    #custom-tooltip p {
        font-size: 0.6rem;
    }
}
